<div class="familyMember">
  {{#each family}}
  <div>
    <h3>{{name}} ({{age}})</h3>
    Gender: {{gender}} and skills: {{skills}}
    <button class="delbtn">Delete</button>
  </div>
  {{/each}}

</div>